.THIS {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	vertical-align: middle;
}

.THIS body {
	font-size: .8125rem;
}

.THIS p {
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.THIS .header-wrapper {
	position: relative;
	z-index: 2;	
	color: #595959;
	background: -moz-linear-gradient(top, #fff 80%, #fbfbfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#fff), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 80%, #fbfbfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 80%, #fbfbfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff 80%, #fbfbfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff 80%, #fbfbfb 100%); /* W3C */
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#bbbbbb'), progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#fbfbfb)";	
}




.THIS .header-content {
	position: relative;
	max-width: 1180px;
	margin: 0 auto;
	min-height: 64px;
}

.THIS .nav-content {
	position: relative;
	max-width: 1180px;
	margin: 0 auto;
}






@media screen and (max-width: 1023px) {
	.THIS .logoContainer {
		background-image: url('../resource/NewDesjardinsLogo');

		background-repeat:no-repeat;

		width: 154px;
		height: 50px;
		max-width: 154px;
		max-height: 32px;
		display: inline-block;
	}


}

/*FOR LARGE SCREENS ONLY*/
@media screen and (min-width: 1024px) {
	.THIS .logoContainer {

		/*background-image: url('https://community-test1-desjardins.cs19.force.com/resource/NewDesjardinsLogo');*/
		background-image: url('../resource/NewDesjardinsLogo');


		background-repeat:no-repeat;
		width: 154px;
		height: 50px;
		max-width: 154px;
		max-height: 32px;
		display: inline-block;
	}


}



.THIS .header-tools {
	float: right;
	display: table;
	margin: 0;
	/*max-width: 754px;*/
	height: 50px;
	margin-top: 10px !important;
}

.THIS .tools {
	padding-right: 10px ;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}


.THIS .profileMenu {
	display: table-cell;
	vertical-align: top;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 0px;
	horiz-align: right;
}



.THIS .link {
	position: relative;
	margin: 0;
	font-size: 1em;
}

.THIS .link a {
	color: #595959;
	text-align: center;
	text-decoration: none;
}

.THIS .link:after {
	content: "";
	width: 1px;
	height: 1em;
	position: absolute;
	top: 50%;
	right: -10px;
	margin-top: -0.5em;
	background-color: #595959;
}

.THIS .logo {
	float: left;
	margin: 0;
	position: relative;
	padding-top: 19px;
	width: 154px;
	height: 64px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger .profileIcon {
	float: none;
	height: 32px !important;
	width: 32px !important;
}

.THIS .forceSearchInputDesktop .inputWrapper {
	height: 32px !important;
}




.THIS .body-wrapper {
    position: relative;
    z-index: 1;
    color: #3e3e3e;
    background: -moz-linear-gradient(top, #e5e7e8 0%, #fff 177px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e7e8),
	color-stop(177px, #ffffff));
    background: -webkit-linear-gradient(top, #e5e7e8 0%, #fff 177px);
    background: -o-linear-gradient(top, #e5e7e8 0%, #fff 177px);
    background: -ms-linear-gradient(top, #e5e7e8 0%, #fff 177px);
    background: linear-gradient(to bottom, #e5e7e8 0%, #fff 177px);
	/*max-width: 1180px !important;*/
}

.THIS .body-content {
	/*position: relative;*/
	max-width: 1204px;
	/*margin: 0 auto;*/
	overflow: hidden;	
}

.THIS .footer-wrapper {
	position: relative;
	color: #fff;
	/*background-color: #292b2f;*/
    background-color: red;

}

.THIS .footer-content {
	position: relative;
	margin: 0 auto;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: 1180px;
	overflow: hidden;
}

.THIS .legal {
	text-align: center;
	padding: 1em 0;
	font-size: 0.9em;
	color: #cbcbcb;
	border-top: 1px solid #3e3e3e;
	overflow: hidden;
}

.THIS .legal ul { position: relative; float: left; left: 50%; margin: 0.5em 0; padding: 0; list-style: none; }
.THIS .legal ul li { position: relative; float: left; right: 50%; padding: 0 5px; border-left: 1px solid #cbcbcb; }
.THIS .legal ul li:first-child { border: none; }
.THIS .legal ul li a { white-space: nowrap; }
.THIS .legal a:link, 
.THIS .legal a:visited { text-decoration: none; color: #cbcbcb; }
.THIS .legal a:active, 
.THIS .legal a:hover, 
.THIS .legal a:focus { text-decoration: underline; color: #cbcbcb; }
.THIS .legal p.copyright { clear: both; margin: 0.5em 0; padding: 0; }
.THIS .legal p.slogan { margin: 0.5em 0; padding: 0; }

.THIS  .selfServiceProfileMenuTrigger .trigger-link:focus {
			   box-shadow: none;
			   border-radius: 5px;
		  }


/*.THIS .slds-page-header {*/
	/*display: none !important;*/
/*}*/