<!-- 
    @description Display Loans records related to "DealerTrackMonthlyOpp" record type.
    @date 21/04/2016
-->
<apex:page standardController="Account" extensions="DealerLoansController" doctype="html-5.0" showHeader="false" sidebar="false" action="{!getDealerTrackMonthlyLoans}" standardStylesheets="false">
    
    <title>DealerTrackMonthlyLoans</title>
   
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
    <apex:includeScript value="{!URLFOR($Resource.JQueryFiles, 'js/jquery-2.2.1.min.js')}"/>     
    
    <apex:stylesheet value="{!URLFOR($Resource.JQueryDatatable, '/datatables.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQueryDatatable, '/datatables.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Moment)}"/> 
    
    <!-- <apex:includeScript value="https://cdn.datatables.net/plug-ins/1.10.11/sorting/datetime-moment.js"/> -->
    <apex:includeScript value="{!URLFOR($Resource.JQueryFiles, 'js/jqueryformatCurrency-1.4.0.min.js')}"/>
    
    <!-- CSS Design -->
    <style> 
    table.display.dataTable.no-footer tr th {text-align:right; background-color: #f2f3f3; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; border-left: 1px solid #e0e3e5;  padding: 5px 18px 4px 5px;font-family: Arial,Helvetica,sans-serif; font-size: 11px;}
    table.display.dataTable.no-footer tr th:first-child {text-align:left;}
    table.display.dataTable.no-footer tr th:last-child {text-align:left;}
    table.display.dataTable.no-footer tr th:last-child{border-right: 1px solid #eaeaea;}
    table.display.dataTable.no-footer.dtr-inline tr td {padding-right: 5px;text-align:right; border-bottom: 1px solid #ededed; border-width: 0 0 1px 0; background: #fff; padding: 4px 2px 4px 5px; color: #000; font-family: Arial,Helvetica,sans-serif;font-size: 12px;} 
    table.display.dataTable.no-footer.dtr-inline tr td a{color:#000;}
    .container{background: #f8f8f8; padding: 30px 10px 10px;border-bottom: 1px solid #eaeaea; border-left: 1px solid #eaeaea;border-right: 1px solid #eaeaea; -moz-border-radius: 4px;-webkit-border-radius: 4px; border-radius: 4px; border-top: 3px solid #236fbd;}                
    .dataTables_info { color: #000; font-family: Arial,Helvetica,sans-serif; font-size: 12px; text-decoration: underline;}
    th.dt-body-left.sorting { text-align: left !important;}
    .display.dataTable.no-footer.dtr-inline tr td:first-child { text-align: left;}
    table.display.dataTable.no-footer.dtr-inline tr:hover td{background-color:#e3f3ff}
     table.display.dataTable.no-footer.dtr-inline tr td:last-child{text-align:left;}
    .dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom:1px solid #eaeaea;}                             
    </style>
    <!-- / CSS Design -->
    
    <div class="container">
        <div id="listConsultant">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Opportunity Name</th>
                        <th>First Submits(%)</th>
                        <th>Prime Book to Look(%)</th>
                        <th>DESJ Book % of Prime</th>
                        <th>Amount</th>
                        <th>Close Date</th>
                        <!-- <th>Asset Type FABD</th> -->
                    </tr>
                </thead>
            </table>
            <div id="btnDiv" style="text-align:center;margin-top:0.75em;">
                <!-- <button id="saveBtn" class="slds-button slds-button--brand">Save</button>-->
            </div>
        </div>
    </div>
    
    <!-- JAVASCRIPT -->
    <script>    
            
            
            jQuery.extend( jQuery.fn.dataTableExt.oSort, 
                  {
                      "date-eu-pre": function ( date ) 
                      {
                          var date = date.replace(" ", "");
                         
                          /*date a, format dd/mn/(yyyy) ; (year is optional)*/
                          var eu_date = date.split('/');
                             
                          /*year (optional)*/
                          if (eu_date[2]) 
                          {
                              var year = eu_date[2];
                          } else {
                              var year = 0;
                          }
          
                          /*month*/
                          var month = eu_date[1];
                          if (month.length == 1) {
                              month = 0+month;
                          }
          
                          /*day*/
                          var day = eu_date[0];
                          if (day.length == 1) 
                          {
                             day = 0+day;
                          }
          
                          return (year + month + day) * 1;
                     },
 
                     "date-eu-asc": function ( a, b ) 
                     {
                         return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                     },
                     "date-eu-desc": function ( a, b ) 
                     {
                         return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                     }
                } );
                
            $j = jQuery.noConflict();    
            
            var device;
            var table;
            
            $j(document).ready(function() {
                if ('{!$CurrentPage.parameters.id}' == '') {
                    //displayMsg('noRecordErr'+Math.floor((Math.random() * 100) + 1),'No such Record-ID found.', 'error');                                   
                } else {
                    var userAgent = navigator.userAgent.toLowerCase();
                    if (userAgent.indexOf('iphone') > -1 || userAgent.indexOf('ipad') > -1) device = 'iphoneORipad';
                    else if (userAgent.indexOf('android') > -1) device = 'android';
                    else device = 'PC';
                    $j("#popupBackground").hide();
                    $j("#popupMsgDiv").hide();
                    searchDealerTrackMonthlyLoans();
                }       
               
            });
            
            function searchDealerTrackMonthlyLoans() {
                var dataSet = [];
                dataSet = createDataset();
                //console.log('dataSet.length ::: ' + dataSet.length);
                //console.log('dataSet ::: ' + JSON.stringify(dataSet));
                initDatatable(dataSet);
            }
            
            function createDataset() {
              
                var DealerTrackMonthlyLoans = '{!dealerLoansJSON}';  
                //console.log("DealerTrackMonthlyLoans ::: " + JSON.stringify(DealerTrackMonthlyLoans));
                //console.log("DealerTrackMonthlyLoans ::: " + DealerTrackMonthlyLoans);                
                
                var data;
                var dataSet = [];
                if (DealerTrackMonthlyLoans != '' && DealerTrackMonthlyLoans != undefined) {
                    
                    var obj = JSON.parse(DealerTrackMonthlyLoans);
                    //console.log("obj ::: " + JSON.stringify(obj));
                    //console.log("obj ::: " + obj[0].get("CI_TY"));
                    //console.log("obj ::: " + obj[0].Name);                    
                    
                    //console.log("obj ::: " + JSON.stringify(obj));
                    for (var i = 0; i < obj.length; i++) {
                        data = [];                                                   
                        data.push(obj[i].Name);
                        data.push((obj[i].Amount==undefined?'0':obj[i].Amount));  
                        data.push(obj[i].First_Submits_Ratio + '%');
                        data.push(obj[i].Prime_Book_to_Look + '%');
                        data.push(obj[i].DESJ_Book_of_Prime + '%');                          
                        var closeDate = new Date(obj[i].CloseDate);                  
                        data.push(obj[i].CloseDate==undefined?'': (moment(obj[i].CloseDate).format('DD/MM/YYYY')));                         
                        data.push(obj[i].Asset_Type_FABD==undefined?'':obj[i].Asset_Type_FABD);  
                        data.push(obj[i].recordId);     
                        dataSet.push(data);                      
                        
                    } 
                }
                return dataSet;
            }

            function initDatatable(dataSet) {                
                var fieldset = JSON.parse('{!listDealerTrackMonthlyLoansFields}');                    
                //console.log('fieldset ::: ' + fieldset);
                //console.log("dataSet ::: " + dataSet);
                table = $j('#example').DataTable({
                    'dom': 'tip',
                    "info": false,
                    'data': dataSet,
                    'responsive': true,
                    'select': 'single',
                    'paging': false,
                    'scrollY': '50vh',
                    'scrollCollapse': true,
                    'createdRow': function(row, data, dataIndex) {   
                    
                        $j(row).find('.amount').formatCurrency($j.extend({ colorize: true }, $j.formatCurrency.regions['es-US']));
                        //$j.extend({ colorize: true }, $j.formatCurrency.regions['es-US'])
                        
                                   
                    },
                    'columnDefs': [{
                        'targets': 0,
                        'searchable': true,
                        'orderable': true,
                        'className': 'dt-body-left',
                        'render': function(data, type, full, meta) {
                            //console.log('device : ' + device);
                            if (device === 'PC') {
                                return '<a target="_blank" href="/' + full[7] + '">' + full[0] + '</a>';
                            } else {
                                var loanNavUrl = 'sforce.one.navigateToSObject(\'' + full[7] + '\')';
                                return '<a target="_blank" href="javascript:' + loanNavUrl + '">' + full[0] + '</a>';
                            }
                        }
                    },
                    {
                        'targets': 5,
                        'type': 'date-eu'//,
                        /*'render': function(data, type, full, meta) {
                            //console.log('device : ' + device);                            
                                                    
                        }*/
                        
                    },
                    {
                        'targets': 1,
                        'className': 'amount'
                        
                    }],
                    'columns': [         
                    { "title": fieldset[0]},
                    { "title": fieldset[1]},          
                    { "title": fieldset[2]},
                    { "title": fieldset[3]},
                    { "title": fieldset[4]},
                    { "title": fieldset[5]}//,
                    //{ "title": fieldset[6]}
                    ],
                    'order': [5, 'desc']
                });               
            }
        
    </script>
    <!-- / JAVASCRIPT -->
    
</apex:page>