.THIS {
}

.THIS .contact-us-info-wrapper {
	display: block;
}

.THIS .contact-us-info-blurb {
	display: block;
}

.THIS .contact-us-info-rep-wrapper {
	display: inline-block;
}

.THIS .contact-us-rep-image {
	display: inline-block;
	float: left;
}

.THIS .contact-us-rep-info {
	display: inline-block;
	float: right;
	padding-top: 1em;
	padding-left: 1em;
}